{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Liabilities{% endblock title %}
{% block extra_head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  
{% endblock extra_head %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liabilities</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Liabilities</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  Liabilities > {{ $business ? $business->name:'All Businesses' }} > {{ ($type>=1&&$type<=2)?($type==1?'In':'Out'):'All Types' }}
                </h3>
                @if (session('success'))
                  <div class="alert alert-success">
                    {{ session('success')}}
                  </div>
                @endif
                @if (session('warning'))
                  <div class="alert alert-warning">
                    {{ session('warninbg')}}
                  </div>
                @endif
                @if (session('danger'))
                  <div class="alert alert-danger">
                    {{ session('danger')}}
                  </div>
                @endif
                <div class="card-tools">
                  <a href="{% url 'liabilities.create' %}" class="btn btn-xs btn-info">
                    <i class="fa fa-plus"></i> Add
                  </a>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form action="{% url 'liabilities.index' %}" class="form-inline" >
                  <div class="input-group">
                    <select class="form-control input-group-prepend form-control-sm" name="business">
                      <option value="">-- all businesses --</option>
                      @foreach($businesses as $buz)
                        <option value="{{ $buz->id }}" @<?php if ($business && $business->id == $buz->id): ?>
                          selected="true"  
                        <?php endif ?> >{{ $buz->name }}</option>
                      @endforeach
                    </select>
                    <select class="form-control input-group-prepend form-control-sm" name="type">
                      <option value="">-- all types --</option>
                      <option value="1" <?php if ($type == 1): ?>
                        selected="true"  
                      <?php endif ?> >Opening Liability</option>
                      <option value="2" <?php if ($type == 2): ?>
                        selected="true"  
                      <?php endif ?> >Closing Liability</option>  
                    </select>
                    <button class="btn btn-info input-group-append" type="submit">
                      <i class="fa fa-recycle"></i>
                    </button>
                  </div>
                </form>
                <table id="liabilities" class="table table-sm table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Business</th>
                      <th>Particulars</th>
                      <th>Type</th>
                      <th>Amount</th>
                      <th>Created</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach ($liabilities as $liability)
                      <tr>
                        <td>{{ $loop->index + 1 }}</td>
                        <td>{{ $liability->business->name }}</td>
                        <td>{{ $liability->particulars }}</td>
                        <td>{{ $liability->liability_type==1?'Short Term':'Long Term' }}</td>
                        <td align="right">{{ number_format($liability->amount, 0) }}</td>
                        <td>{{ $liability->created_at }}</td>
                        <td>
                          <a href="{% url 'liabilities.show', $liability- %}" type="button" class="btn btn-xs btn-info">
                            <i class="fa fa-eye"></i>
                          </a>
                          <a href="{% url 'liabilities.edit', $liability- %}" type="button" class="btn btn-xs btn-warning">
                            <i class="fa fa-edit"></i>
                          </a>
                          <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete-{{ $liability->id }}">
                            <i class="fa fa-trash"></i>
                          </button>
                          @include('pages.liabilities.confirm-delete')
                        </td>
                      </tr>
                    @endforeach
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  Liabilities > {{ $business ? $business->name:'All Businesses' }} > {{ ($type>=1&&$type<=2)?($type==1?'Short Term':'Long Term'):'All Types' }} > {{ $range }}
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block extra_js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

  <script>
    $(function () {
      
      $("#liabilities").DataTable({
        "responsive": true, 
        "lengthChange": false, 
        "autoWidth": false,
        "buttons": [
          {
            extend: "copy",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5, 6]
            }
          },
          {
            extend: "excel",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5, 6]
            }
          },
          {
            extend: "pdf",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5, 6]
            }
          },
          {
            extend: "print",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5, 6]
            }
          }
        ]
      }).buttons().container().appendTo('#liabilities_wrapper .col-md-6:eq(0)');
      
    });
  </script>
{% endblock %}