{% extends 'adminlte/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard{% endblock title %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock content_header %}
{% block content %}
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
            <a href="{% url 'sales' %}" class="info-box">
                <span class="info-box-icon bg-success elevation-1">
                <i class="fas fa-shopping-cart"></i>
                </span>

                <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">
                    {{ total_sales|intcomma }}
                </span>
                </div>
                <!-- /.info-box-content -->
            </a>
            <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
            <a href="{% url 'purchases' %}" class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1">
                    <i class="fas fa-receipt"></i>
                </span>
                <div class="info-box-content">
                <span class="info-box-text">Purchases</span>
                <span class="info-box-number">
                    {{ total_purchases|intcomma }}
                </span>
                </div>
                <!-- /.info-box-content -->
            </a>
            <!-- /.info-box -->              
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1">
                <i class="fas fa-door-open"></i>
                </span>

                <div class="info-box-content">
                <span class="info-box-text">Net Profit</span>
                <span class="info-box-number">
                    {{ net_profit }}
                </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
            <a href="{% url 'expenses' %}" class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1">
                <i class="fas fa-cog"></i>
                </span>
                <div class="info-box-content">
                <span class="info-box-text">Expenses</span>
                <span class="info-box-number">
                    {{ total_expenses|intcomma }}
                </span>
                </div>
                <!-- /.info-box-content -->
            </a>
            <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <h5 class="card-title">Monthly Recap Report - {{ range }}</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <form action="{% url 'dashboard' %}" class="form-inline" >
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                    <input type="text" name="range" 
                        class="form-control float-right form-control-sm text-xs" id="range">
                    <button class="btn btn-info input-group-append" type="submit">
                        <i class="fa fa-recycle"></i>
                    </button>
                    </div>
                </form>
                </div>
                <!-- ./card-body -->
                <div class="card-footer">
                <div class="row">
                    <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                        <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                        <h5 class="description-header">
                        UGX {{ total_income }}
                        </h5>
                        <span class="description-text">TOTAL INCOME</span>
                    </div>
                    <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                        <!-- <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span> -->
                        <h5 class="description-header">
                        UGX {{ cost_of_sales }}
                        </h5>
                        <span class="description-text">TOTAL COST OF SALES</span>
                    </div>
                    <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                        <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span> -->
                        <h5 class="description-header">
                        UGX {{ gross_profit }}
                        </h5>
                        <span class="description-text">GROSS PROFIT</span>
                    </div>
                    <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                        <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span> -->
                        <h5 class="description-header">
                        UGX {{ closing_stock }}
                        </h5>
                        <span class="description-text">CLOSING STOCK</span>
                    </div>
                    <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <h5 class="card-title">Monthly Sales Recap Report</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    <div class="btn-group">
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                    <p class="text-center">
                        <strong>Sales: {{ range }}</strong>
                    </p>

                    <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                    </div>
                    <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <h5 class="card-title">Monthly Purchases Recap Report</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    <div class="btn-group">
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                    <p class="text-center">
                        <strong>Puchases: {{ range }}</strong>
                    </p>

                    <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="purchasesChart" height="180" style="height: 180px;"></canvas>
                    </div>
                    <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <h5 class="card-title">Monthly Expenses Recap Report</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    <div class="btn-group">
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                    <p class="text-center">
                        <strong>Expenses: {{ range }}</strong>
                    </p>

                    <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="expensesChart" height="180" style="height: 180px;"></canvas>
                    </div>
                    <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        
        {{ months|json_script:'months'}}
        {{ sales|json_script:'sales' }}
        {{ purchases|json_script:'purchases' }}
        {{ expenses|json_script:'expenses' }}
    </div>
    <!-- /.content -->
{% endblock content %}

{% block extra_js %}
  <!-- jQuery Mapael -->
  <script src="{% static 'admin-lte/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/raphael/raphael.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
  <!-- ChartJS -->
  <script src="{% static 'admin-lte/plugins/chart.js/Chart.min.js' %}"></script>

  <script type="text/javascript">
    
    /* global Chart:false */

    $(function () {
      var today = new Date();
      var startDate = '{{ startDate }}';
      var endDate = '{{ endDate }}';
      if (!startDate) {startDate = moment().subtract(today.getDate()-1, 'days')}
      if (!endDate) {endDate = moment()}

      //Date range picker
      $('#range').daterangepicker({
          startDate: startDate,
          endDate  : endDate,
          showDropdowns: true,
          locale: {
            format: 'YYYY-MM-DD'
          },
          maxSpan: {
            'months': 12
          }
        });
      
      var months = JSON.parse(document.getElementById('months').textContent);

      // Get context with jQuery - using jQuery's .get() method.
      var salesChartCanvas = $('#salesChart').get(0).getContext('2d')

      var salesChartData = {
        labels: months,
        datasets: [
          {
            label: 'Sales',
            backgroundColor: 'rgba(60,141,188,0.5)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: 2,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,0.6)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: JSON.parse(document.getElementById('sales').textContent)
          }
        ]
      }

      var salesChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: true
            }
          }],
          yAxes: [{
            gridLines: {
              display: true
            }
          }]
        }
      }

      // This will get the first returned node in the jQuery collection.
      // eslint-disable-next-line no-unused-vars
      var salesChart = new Chart(salesChartCanvas, {
        type: 'line',
        data: salesChartData,
        options: salesChartOptions
      }
      )

      // Get context with jQuery - using jQuery's .get() method.
      var purchasesChartCanvas = $('#purchasesChart').get(0).getContext('2d')

      var purchasesChartData = {
        labels: months,
        datasets: [
          {
            label: 'Purchases',
            backgroundColor: 'rgba(141,60,188,0.5)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,0.6)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: JSON.parse(document.getElementById('purchases').textContent)
          }
        ]
      }

      var purchasesChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: true
            }
          }],
          yAxes: [{
            gridLines: {
              display: true
            }
          }]
        }
      }

      // This will get the first returned node in the jQuery collection.
      // eslint-disable-next-line no-unused-vars
      var purchasesChart = new Chart(purchasesChartCanvas, {
        type: 'line',
        data: purchasesChartData,
        options: purchasesChartOptions
      }
      )

      // Get context with jQuery - using jQuery's .get() method.
      var expensesChartCanvas = $('#expensesChart').get(0).getContext('2d')

      var expensesChartData = {
        labels: months,
        datasets: [
          {
            label: 'Expenses',
            backgroundColor: 'rgba(188,141,60,0.5)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,0.6)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: JSON.parse(document.getElementById('expenses').textContent)
          }
        ]
      }

      var expensesChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false
            }
          }],
          yAxes: [{
            gridLines: {
              display: true
            }
          }]
        }
      }

      // This will get the first returned node in the jQuery collection.
      // eslint-disable-next-line no-unused-vars
      var expensesChart = new Chart(expensesChartCanvas, {
        type: 'bar',
        data: expensesChartData,
        options: expensesChartOptions
      }
      )


    });
  </script>
{% endblock extra_js %}