<div class="form-group has-validation row">
  <label for="tin" class="col-sm-2 col-form-label text-right">TIN</label>
  <div class="col-sm-7">
    <input type="text" class="form-control {% if form.tin.errors %}is-invalid{% endif %}" 
      id="tin" name="tin" placeholder="Business TIN"
      value="{% if form.tin.value %}{{ form.tin.value }}{% endif %}" required="true">
    <div id="tin_check" class="text-xs text-danger"></div>
      {% if form.tin.errors %}
        <div class="invalid-feedback">{{ form.tin.errors }}</div>
      {% endif %}
  </div>
  <div class="col-sm-3">
    <a href="javascript:void()" class="btn btn-primary" onClick="checkTIN()">
      <i class="fa fa-recycle"></i>
    </a>
  </div>
</div>

<script>
  function checkTIN(evt){
    var tinEl = document.getElementById('tin');
    var tinCheckEl = document.getElementById('tin_check');
    var tin = tinEl.value;
    var message = tin + ' Is Already taken! <br>Please, Try Another TIN!';
    if (tin.trim() == ''){
      message = 'TIN Is Empty! <br>Please, Enter Something!'
    }
    tinCheckEl.innerHTML = message;
    tinEl.classList.add('is-invalid');
  }
</script>