{% extends "adminlte/base.html" %}
{% load i18n static %}
{% block title %}Registration Complete{% endblock title %}
{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}{% url 'dashboard' %}{% endblock %}">{% block logo_text %}<b>{{ settings.COMPANY_FULL }}</b>{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="card text-center">
            <div class="card-header">
                <h6>Account Registraion Completed</h6>
            </div>
            <div class="card-body login-card-body">
                <p>
                    Your Account has been Successfully Created.<br>
                    <b>Next Step:</b> Go to your email account and use the link that we have sent you
                    to activate your account.<br>
                    Thank you for creating an account with us. Hoping to Serve you better.
                </p>
                <p><b>NOTE:</b> Please, note if your account is not activateed within {{ settings.ACCOUNT_ACTIVATION_DAYS }} 
                    days, it will be deleted.</p>
            </div>
            <!-- /.login-card-body -->
            <div class="card-footer text-center">
                <p>Please, Activate Your Account then Login.</p>
                <a href="{% url 'login' %}" class="btn btn-sm btn-primary btn-block">Login</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
{% endblock %}

{% block extra_js %}
    <script>
        var submit_el = document.getElementById('submit');
        var remember_el = document.getElementById('remember');
        var password = document.getElementById('password');
        var conf = document.getElementById('confirm_password');

        function checkRemember(evt){
            if(remember_el.checked){
                if(password.value == conf.value && password.value !== ''){
                    submit_el.classList.remove('disabled');
                }
            }else{
                submit_el.classList.add('disabled');
            }
        }

        function checkPassword(evt){
            var feedback_el = document.getElementById('password_feedback');
            
            if (password.value !== conf.value){
                feedback_el.innerHTML = "Password Miss-Match!";
                conf.classList.add('is-invalid');
                feedback_el.classList.add('invalid-feedback');
                submit_el.classList.add('disabled');
            }else{
                if(password.value === ''){
                    feedback_el.innerHTML = "Password Is Empty!";
                    submit_el.classList.add('disabled');
                }else{
                    conf.classList.remove('is-invalid');
                    feedback_el.classList.remove('invalid-feedback');
                    feedback_el.classList.add('valid-feedback');
                    feedback_el.innerHTML = "Password Match!";
                    if(remember_el.checked){
                        submit_el.classList.remove('disabled');
                    }
                }
            }
        }

    </script>
{% endblock extra_js %}