{% load static %}
{% if form.errors %}
  <div class="alert alert-danger">
    Please, correct the Errors below.
    <ul>
      {% for error in form.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% if form.non_field_errors %}
  <div class="alert alert-danger">
    {{ form.non_field_errors }}
  </div>
{% endif %}

<input hidden="true" value="{{ user.pk }}" name="user" />
<input hidden="true" value="{{ user.person.pk }}" name="person" />

<div class="form-group row">
  <label for="particulars" class="col-sm-2 col-form-label text-right">Particulars</label>
  <div class="col-sm-10">
    <input type="text" class="form-control {% if form.particulars.errors %}is-invalide{% endif %}" 
      id="particulars" name="particulars" placeholder="Opening Stock Particulars" 
      value="{% if form.particulars.value %}{{ form.particulars.value }}{% endif %}" 
      required="true">
    {% if form.particulars.errors %}
        <div class="invalid-feedback">{{ form.particulars.errors }}</div>    
    {% endif %}
  </div>
</div>

<div class="form-group row">
  <label for="details" class="col-sm-2 col-form-label text-right">Details</label>
  <div class="col-sm-10">
    <textarea id="details" name="details">
      {% if form.details.value %}{{ form.details.value }}{% else %}Please, <em>enter the Opening Stock details</em> here{% endif %}
    </textarea>
    {% if form.details.errors %}
        <div class="invalid-feedback">{{ form.details.errors }}</div>    
    {% endif %}
  </div>
</div>
<div class="form-group row">
  <label for="amount" class="col-sm-2 col-form-label text-right">Amount</label>
  <div class="col-sm-10">
    <input type="number" min="0" class="form-control" 
      id="amount" name="amount" placeholder="Opening Stock Amount" required="true"
      value="{% if form.amount.value %}{{ form.amount.value }}{% endif %}">
    {% if form.amount.errors %}
        <div class="invalid-feedback">{{ form.amount.errors }}</div>    
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    <div class="form-group row">
      <label for="receipt" class="col-sm-3 col-form-label text-right">Attach Receipt</label>
      <div class="col-sm-9">
        <input type="file" min="0" class="form-control {% if form.receipt.errors %}is-invalid{% endif %}" 
          id="receipt" name="receipt" placeholder="Attach Receipt">
        {% if form.receipt.errors %}
            <div class="invalid-feedback">{{ form.receipt.errors }}</div>    
        {% endif %}
      </div>
    </div>
    <div class="form-group row">
      <label for="document" class="col-sm-3 col-form-label text-right">Other Document</label>
      <div class="col-sm-9">
        <input type="file" min="0" class="form-control {% if form.document.erorrs %}is-invalid{% endif %}" 
          id="document" name="document" placeholder="Other Document">
        {% if form.document.errors %}
            <div class="invalid-feedback">{{ form.document.errors }}</div>    
        {% endif %}
      </div>
    </div>
    <div class="form-group row">
      <label for="date" class="col-sm-3 col-form-label text-right">Date Added</label>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-sm">
              <i class="far fa-calendar-alt"></i>
            </span>
          </div>
          <input type="text" name="date_made"
            class="form-control form-control-sm float-right text-xs {% if form.date_made.errors %}is-invalid{% endif %}" id="date">
        </div>
        {% if form.date_made.errors %}
            <div class="invalid-feedback">{{ form.date_made.errors }}</div>    
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <img src="{% if form.receipt.value %}/media/{{ form.receipt.value }}{% else %}{% static 'admin-lte/dist/img/default-150x150.png' %}{% endif %}" 
      id="receiptPreview" class="img img-rounded float-right" 
      alt="Receipt Preview" width="100%" />
  </div>
</div>