{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Taxation{% endblock title %}
{% block extra_head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  
{% endblock extra_head %}

{% block content_header %}

{% endblock %}