{% extends 'adminlte/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Taxes{% endblock title %}
{% block extra_head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  
{% endblock extra_head %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Taxation</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Taxation</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Taxes | Start Date</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <form action="{% url 'taxation' %}" class="form-inline" method="GET">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text text-sm">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                <input type="text" name="startDate"
                  class="form-control form-control-sm float-right text-xs" id="sDate">
                <button class="btn btn-info input-group-append" type="submit">
                  <i class="fa fa-recycle"></i>
                </button>
              </div>
            </form>
            <hr/>
            <div class="row">
              <div class="col-4 text-right"><b>Sales</b></div>
              <div class="col-8">{{ sales|intcomma }}</div>
              <div class="col-4 text-right"><b>Purchases</b></div>
              <div class="col-8">{{ purchases|intcomma }}</div>
              <div class="col-4 text-right"><b>Gross Profit</b></div>
              <div class="col-8">{{ gross_profit|intcomma }}</div>
              <div class="col-4 text-right"><b>Expenses</b></div>
              <div class="col-8">{{ expenses|intcomma }}</div>
              <div class="col-4 text-right"><b>Net Profit</b></div>
              <div class="col-8">{{ net_profit|intcomma }}</div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
              Taxes Range > {{ range }}
          </div>
          <!-- /.card-footer-->
        </div>
      </div>

      <div class="m-auto col-sm-8">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              Income Tax Ranges | {{ user.person.person_type }}
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table id="ranges" class="table table-sm table-bordered table-hover table-striped" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Low</th>
                  <th>High</th>
                  <th>Addition</th>
                  <th>Percentage</th>
                  <th>Updated</th>
                </tr>
              </thead>
              <tbody>
                {% for range in income_tax_ranges %}
                  <tr>
                    <td>{{ range.name }}</td>
                    <td>{{ range.low|intcomma }}</td>
                    <td>{{ range.high|intcomma }}</td>
                    <td>{{ range.addition|intcomma }}</td>
                    <td>{{ range.percentage }}%</td>
                    <td>{{ range.updated }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Taxes -->
    <div class="row">
      <div class="m-auto col-8">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Pending Tax Calculation</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-4 text-right"><b>Tax Range</b></div>
            <div class="col-8">
              {{ tax_range.name }}
            </div>
            <div class="col-4 text-right"><b>Gross Tax</b></div>
            <div class="col-8">
              {{ gross_tax }}
            </div>

            <!-- Calculations Display -->
            
            <hr>
            <div class="col-4 text-right"><b>Net Tax</b></div>
            <div class="col-8">
              {{ net_tax }}
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-sm btn-outline-success float-right" data-toggle="modal" data-target="#pay-dialog">
              Submit Payment
            </button>
            {% include 'taxation/pay.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block extra_js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

  <script>
    $(function () {
      var today = new Date();
      var startDate = '{{ startDate }}';
      if (!startDate) {startDate = moment().subtract(today.getDate()-1, 'days')}
      
      //Date range picker
      $('#sDate').daterangepicker({
          startDate: startDate,
          showDropdowns: true,
          singleDatePicker: true,
          locale: {
            format: 'YYYY-MM-DD'
          }
        });
      
      $("#ranges").DataTable({
        "responsive": true, 
        ordering: false,
        paging: false,
        "autoWidth": false,
        "buttons": [
          {
            extend: "copy",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5]
            }
          },
          {
            extend: "excel",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5]
            }
          },
          {
            extend: "pdf",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5]
            }
          },
          {
            extend: "print",
            className: 'btn btn-xs',
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5]
            }
          }
        ]
      }).buttons().container().appendTo('#ranges_wrapper .col-md-6:eq(0)');
      
    });
  </script>
{% endblock %}